{% extends 'back/version/_base_back_version.html.twig' %}

{% block title %}Version index{% endblock %}

{% block body %}
    <h1>Version index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for version in versions %}
            <tr>
                <td>{{ version.id }}</td>
                <td>{{ version.name }}</td>
                <td>
                    <a href="{{ path('back_version_show', {'id': version.id}) }}">show</a>
                    <a href="{{ path('back_version_edit', {'id': version.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('back_version_new') }}">Create new</a>
{% endblock %}
