{% extends 'back/scenario/_base_back_scenario.html.twig' %}

{% block title %}Scenario index{% endblock %}

{% block body %}
    <h1>Scenario index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>History</th>
                <th>Map</th>
                <th>Time</th>
                <th>CreateAt</th>
                <th>UpdatedAt</th>
                <th>Survivors</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for scenario in scenarios %}
            <tr>
                <td>{{ scenario.id }}</td>
                <td>{{ scenario.title }}</td>
                <td>{{ scenario.history }}</td>
                <td>{{ scenario.map }}</td>
                <td>{{ scenario.time }}</td>
                <td>{{ scenario.createAt ? scenario.createAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ scenario.updatedAt ? scenario.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ scenario.survivors }}</td>
                <td>
                    <a href="{{ path('back_scenario_show', {'id': scenario.id}) }}">show</a>
                    <a href="{{ path('back_scenario_edit', {'id': scenario.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('back_scenario_new') }}">Create new</a>
{% endblock %}
