{% extends 'back/difficulty/_base_back_difficulty.html.twig' %}

{% block title %}Difficulty{% endblock %}

{% block body %}
    <h1>Difficulty</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ difficulty.id }}</td>
            </tr>
            <tr>
                <th>Level</th>
                <td>{{ difficulty.level }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('back_difficulty_index') }}">back to list</a>

    <a href="{{ path('back_difficulty_edit', {'id': difficulty.id}) }}">edit</a>

    {{ include('back/difficulty/_delete_form.html.twig') }}
{% endblock %}
