{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{asset('CSS/home.css')}}">
{% endblock %}
{% block body %}
 <div class="homeContainer">
            {% for scenar in scenar_list %}
            <article class="card">
                <div class="cardUp">
                    <h3 class="cardTiltleUp"><a class="cardUpLink" href="{{ path('scenario_read', {id: scenar.id}) }}">{{ scenar.title }}</a></h3>
                    <div class="cardInfo">
                        <span class="cardInfoAuth">by {{ scenar.user.pseudo }}</span>
                        <span class="cardInfoQuest"> {{ scenar.difficultyId.level }} / {{ scenar.nbSurvivor }}+SURVIVORS / {{ scenar.time }}+MINUTES</span>
                    </div>
                </div>
                <div class="cardDown">
                    <h3 class="cardTiltleDown"><a class="cardLink" href="{{ path('scenario_read', {id: scenar.id}) }}">{{ scenar.title }}</a></h3>
                    <span class="cardDate"><time datetime="26/10/2021">Oct 22 , 2021</time></span>
                    <p class="cardExcerpt">{{ scenar.history }}
                    </p>
                </div>
            </article>
            {% endfor %}
        </div>
{% endblock %}
