{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}
{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('CSS/home.css') }}">
{% endblock %}

{% block versionList %}
{% for version in version_list %}
<li><a href="javascript:void(0)" class="headerVersion headerLink headerNav">{{ version.name }}</a></li>
{% endfor %}
{% endblock %}
{% block body %}
<div class="homeContainer">
    {% for scenar in scenar_list %}
    <article class="card">
        <div class="cardUp">
            <h3 class="cardTiltleUp"><a class="cardUpLink" href="{{ path('scenar_read', {id : scenar.id}) }}">{{ scenar.title }}</a></h3>
            <div class="cardInfo">
                <span class="cardInfoAuth">by {{ scenar.author.name }}</span>
                <span class="cardInfoQuest">{{ scenar.difficulty.level }} / {{ scenar.survivors }}+SURVIVORS / {{ scenar.time }}+MINUTES</span>
            </div>
        </div>
        <div class="cardDown">
            <h3 class="cardTiltleDown"><a class="cardLink" href="{{ path('scenar_read', {id : scenar.id}) }}">{{ scenar.title }}</a></h3>
            <span class="cardDate"><time datetime="{{ scenar.createAt|date('M d, Y') }}">{{ scenar.createAt|date('M d, Y') }}</time></span>
            <p class="cardExcerpt">{{ scenar.history }}</p>
        </div>
    </article>
    {% endfor %}
</div>
{% endblock %}